@use 'utilities/variables' as v;
@use 'utilities/clearfix';

@include clearfix.clearfix;
html {
  width: 99%;
  height: 99%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$dark;
  width: 100%;
  height: 100%;
  font-family: v.$font;
  font-size: 14px;
}
#tbl {
  margin: auto;
  color: v.$light;
  border: 1px solid v.$accent;
  border-collapse: collapse;
}

.cell {
  width: 80px;
  border: 1px solid v.$accent;
}
.header-row {
  font-weight: v.$fBold;
}
